{{#>body }}
{{#each products}}
<div class="container">
    <p><b>Id:</b> {{this.id}}</p>
    <p><b>Titulo:</b> {{this.title}}</p>
    <p><b>Descripcion:</b> {{this.description}}</p>
    <p><b>Precio:</b> {{this.price}}</p>
    <p><b>Código:</b> {{this.code}}</p>
    <p><b>Stock:</b> {{this.stock}}</p>
</div>
{{/each}}

<div class="container">

    <form action="/realtimeproducts" method="POST">

        <div>
            <label for="title" class="form-label">Título</label>
            <input type="text" id="Title" name="title" class="form-control" required />
        </div>

        <div>
            <label for="desc" class="form-label">Descripcion</label>
            <input type="text" id="Desc" name="desc" class="form-control" required />
        </div>

        <div>
            <label for="price" class="form-label">Precio</label>
            <input type="text" id="Price" name="price" class="form-control" required />
        </div>

        <div>
            <label for="code" class="form-label">Código</label>
            <input type="text" id="Code" name="code" class="form-control" required />
        </div>

        <div>
            <label for="stock" class="form-label">Stock</label>
            <input type="text" id="Stock" name="stock" class="form-control" required />
        </div>

        <button id="btn" type="submit">Crear Producto</button>

    </form>

</div>

<form action="/realtimeproducts?_method=DELETE" method="POST">
    <div class="container">
        <label for="id" class="form-label">ID de Producto a eliminar</label>
        <input type="text" id="id" name="id" class="form-control" required />
        <button id="btn-eliminar" type="submit">Eliminar Producto</button>
    </div>
</form>



{{/body}}