<div>
    {{#each products}}
    <p><b>Id:</b> {{this.id}}</p>
    <p><b>Titulo:</b> {{this.title}}</p>
    <p><b>Descripcion:</b> {{this.description}}</p>
    <p><b>Precio:</b> {{this.price}}</p>
    <p><b>Imagen:</b> {{this.thumbnail}}</p>
    <p><b>Código:</b> {{this.code}}</p>
    <p><b>Stock:</b> {{this.stock}}</p>
    {{/each}}
</div>